*.png
*.pdf
*.csv
*.vscode
*.pyc
__pycache__/
*NUL
*.log
*.gif
*.exe
*.o
*.out
*.d
*.mp4
*.txt

/Axelrod/bin
/Axelrod/build
/Axelrod/data
/Axelrod/data_sweeps
/Axelrod/data_sweeps_backup
/Axelrod/figures
/Axelrod/NUL

/Ex1/__pycache__
/Ex1/.vscode
/Ex1/utils/__pycache__
/Ex1/pdfSlicer.py
/Ex1/sheet.py

/EX2/plotter_pca_sphere.py
/EX2/plotter.py

/EX3/temp.py

/EX4/temp.py
/EX4/tempCodeRunnerFile.py

